= semantic_form_for @applicant do |f|
  = render "#{@applicant.current_step}_step", :f => f

  = f.buttons do
    - unless @applicant.first_step?
      %li= f.submit :name => "back", :label => "Back"
    = f.commit_button :continue
